<h1>Upload some junk</h1>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= hidden_field_tag :authorization, authorization_token%>
  <%= file_field(:content, :upload, multiple: true) %>
  <%= submit_tag "Upload" %>
<% end %>
